<div id="container2">
    <h2 class="title">Listado clientes por cita</h2>
    @if (!clientes.length) {
        <div>No hay clientes por el momento</div>
    }
    @else {
        <div class="table2" >
            <table class="table table-striped">
                <thead class="title_3">
                    <tr>
                        <th class="title3" scope="col">Nombre</th>
                        <th class="title3" scope="col">Apellidos</th>
                        <th class="title3" scope="col">Numero de teléfono</th>
                        <th class="title3" scope="col">Correo</th>
                        <th class="title3" scope="col">Fecha de cita</th>
                        <th class="title3" scope="col">Hora de la cita</th>
                    </tr>
                </thead>
                <tbody>
                    @for (cliente of clientes; track clientes) {
                        <tr class="tr1" >
                            <td class="text" >{{cliente.nombre}}</td>
                            <td class="text" >{{cliente.apellidos}}</td>
                            <td class="text" >{{cliente.telefono}}</td>
                            <td class="text" >{{cliente.correo}}</td>
                            <td class="text" >{{ cliente.fechaCita }}</td>
                            <td class="text" >{{ cliente.horaCita }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>