<div id="container2">
  <h2>Listado clientes por cita</h2>
  @if (clientes && clientes.length > 0) {
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Numero de telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Fecha de cita</th>
            <th scope="col">Hora de la cita</th>
          </tr>
        </thead>
        <tbody>
          @for (cliente of clientes; track cliente) {
            <tr>
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.apellidos}}</td>
              <td>{{cliente.telefono}}</td>
              <td>{{cliente.correo}}</td>
              <td>{{cliente.fechaCita}}</td>
              <td>{{cliente.horaCita}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else {
    <div>No hay clientes por el momento</div>
  }

  <h2>Listado de citas pasadas</h2>
  @if (getCitasPasadas().length > 0) {
    <div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Numero de telefono</th>
              <th scope="col">Correo</th>
              <th scope="col">Fecha de cita</th>
              <th scope="col">Hora de la cita</th>
            </tr>
          </thead>
          <tbody>
            @for (cita of getCitasPasadas(); track cita) {
              <tr>
                <td>{{cita.nombre}}</td>
                <td>{{cita.apellidos}}</td>
                <td>{{cita.telefono}}</td>
                <td>{{cita.correo}}</td>
                <td>{{cita.fechaCita}}</td>
                <td>{{cita.horaCita}}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  } @else {
    <div>No hay citas pasadas</div>
  }
</div>
