<div id="container2">
    <h2>
        Listado clientes por cita
    </h2>
    @if (!clientes.length) {
        <div>No hay clientes por el momento</div>
    }
    @else {
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Numero de telefono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Facha de cita</th>
                        <th scope="col">Hora de la cita</th>
                    </tr>
                </thead>
                <tbody>
                    @for (cliente of clientes; track clientes) {
                        <tr>
                            <td>{{cliente.nombre}}</td>
                            <td>{{cliente.apellidos}}</td>
                            <td>{{cliente.telefono}}</td>
                            <td>{{cliente.correo}}</td>
                            <td>{{ cliente.fechaCita }}</td>
                            <td>{{ cliente.horaCita }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    }

</div>