#principal {
    display: flex;
    text-align: center;
    align-items: start;
    justify-content: space-evenly;
}

.card {
    margin: 35px;
    padding: 35px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 20px;
    color: #333;
}

.card-text {
    font-size: 16px;
    color: #666;
}

h1 {
    font-size: 36px;
    color: #333;

}

h2 {
    font-size: 24px;
    color: #666;
}
.title{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.text{
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.btn{
    border-color: #074173;
    border-width: large;
    color: #074173;
}

.btn:hover{
    color: white;
    background-color: #1679AB;
}