#principal {
    padding: 20px;
    display: flex;
    place-items: center;
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #666;
    margin-bottom: 30px;
}

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    color: #666;
}