<div id="principal" class="row">
  @for (h of misanimales; track h; let i =$index){
    <div class="card shadow col-sm-2">
      <img src="{{h.image}}" class="card-img-top" alt="{{h.name}}">
        <div class="card-body">
          <h5 class="card-title">Nombre: {{h.name}}</h5>
          <p class="card-text">Edad: {{h.age}}</p>
          <p class="card-text">Color: {{h.color}}</p>
          <p class="card-text">Raza: {{h.race}}</p>
          <p class="card-text">Tiempo en el refugio: {{h.time_at_the_shelter}}</p>
          <hr>
          <p class="card-text">{{h.description}}</p>
        </div>
          <a [routerLink]="['/animales',i]" class="mb-3 btn btn-outline-primary btn-block">Ver mas</a>
    </div>
  }
</div>