.footer{
    text-align: center;
    background: linear-gradient( #ffffff, 10%, #12507a);
    width: 100%;
}
.text{
    text-align: center;
    color: white;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}