.footer{
    text-align: center;
    background: linear-gradient( #ffffff, 10%, #12507a);
    width: 100%;
}
.text{
    text-align: center;
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 175%;
    font-size: x-large;
}