.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container2{
    font-size: 35px;
    margin: 35px;
    padding: 5px;
    text-align: center;
}
.title{
    font-size: 3rem;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #12507a;
    padding: .3%;
    margin-top: 1.8%;
    margin-bottom: 1.8%;
}
.card-title{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 5%;
    margin-top: 5%;
}
.card2, .card1 {
    margin: auto;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cardimg{
    border-radius: 7%;
}

.text-spacing {
    line-height: 1;
}