<div class="container">
  <div class="container2">
    <h4 class="title" >Estos somos nosotros</h4>
    <hr>
    <br>
    <div class="card1 card mb-3" style="max-width: 1040px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/img/Refugio_img.jpeg" class="img card-img-top rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title fs-3">Conozcanos mas </h5>
            <p class="card-text fs-4 text-spacing">El objetivo principal de un refugio de animales domésticos es proporcionar un lugar seguro y temporal para animales abandonados, maltratados o perdidos, donde puedan recibir cuidados básicos, atención veterinaria, alimentación adecuada y, lo más importante, encontrar un nuevo hogar a través de adopciones responsables. <br>Además, estos refugios suelen promover la esterilización y la educación sobre el cuidado responsable de mascotas para prevenir el abandono y el maltrato animal en el futuro.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="p-5">
  <div id="principal" class="card-group d-flex justify-content-between text-center">  <!-- class="col"-->
    <div class="card2 shadow col-md-3">
      <img src="../../../assets/img/Peritos_refugio.jpeg" class="cardimg card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

    <div class="card2 shadow col-md-3">
      <img src="../../../assets/img/Entrenador.jpeg" class="cardimg card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>

    <div class="card2 shadow col-md-3">
      <img src="../../../assets/img/Jaula.jpeg" class="cardimg card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</section>
  
<h1 class="p-5 mb-4" [ngStyle]="{'font-size': '3rem', 'color': '#8B322C', 'font-weight': 'bold', 'text-align': 'center', 'text-transform': 'uppercase', 'letter-spacing': '0.05em', 'margin-top': '50px'}">
  Gracias por apoyarnos
</h1>