<div class="container">
  <div class="container2">
    <h4 class="title" >Estos somos nosotros</h4>
    <hr>
    <br>
    <div class="card1 card mb-3" style="max-width: 1040px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/img/Refugio_img.jpeg" class="img card-img-top rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title fs-3">Conozcanos mas </h5>
            <p class="card-text fs-4 text-spacing">El objetivo principal de un refugio de animales domésticos es proporcionar un lugar seguro y temporal para animales abandonados, maltratados o perdidos, donde puedan recibir cuidados básicos, atención veterinaria, alimentación adecuada y, lo más importante, encontrar un nuevo hogar a través de adopciones responsables. <br>Además, estos refugios suelen promover la esterilización y la educación sobre el cuidado responsable de mascotas para prevenir el abandono y el maltrato animal en el futuro.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="p-5">
  <div id="principal" class="card-group d-flex justify-content-between text-center">  <!-- class="col"-->
    <div class="card2 shadow col-md-3">
      <img src="../../../assets/img/Peritos_refugio.jpeg" class="cardimg card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Convivencia</h5>
        <p class="card-text">La convivencia con los animales en un refugio requiere compromiso, responsabilidad y respeto hacia todas las formas de vida. Al proporcionar un entorno seguro, enriquecedor y amoroso, se puede mejorar significativamente la calidad de vida de los animales mientras esperan a encontrar un hogar permanente.</p>
      </div>
    </div>

    <div class="card2 shadow col-md-3">
      <img src="../../../assets/img/Entrenador.jpeg" class="cardimg card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Entrenamiento</h5>
        <p class="card-text">El entrenamiento de los animales se lleva a cabo con un enfoque en el bienestar y el respeto hacia los individuos, utilizando métodos de refuerzo positivo y evitando el uso de castigos o técnicas que causen estrés o sufrimiento innecesario.</p>
      </div>
    </div>

    <div class="card2 shadow col-md-3">
      <img src="../../../assets/img/Jaula.jpeg" class="cardimg card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Comida</h5>
        <p class="card-text">Garantizamos una alimentación equilibrada que cumpla con las necesidades nutricionales de los animales, así como monitorear su salud y peso corporal para ajustar la dieta según sea necesario. Además, se deben seguir prácticas de seguridad alimentaria para prevenir la contaminación y garantizar la salud de los animales.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</section>
  
<h1 class="p-5 mb-4" [ngStyle]="{'font-size': '3rem', 'color': '#8B322C', 'font-weight': 'bold', 'text-align': 'center', 'text-transform': 'uppercase', 'letter-spacing': '0.05em', 'margin-top': '50px'}">
  Gracias por apoyarnos
</h1>