.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container2{
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(49, 123, 226, 0.5);
    font-size: 35px;
    margin: 35px;
    padding: 5px;
    text-align: center;
}
.title{
    font-size: 45px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #12507a;
    padding: .3%;
    margin-top: 1.8%;
    margin-bottom: 1.8%;
}
.card-title{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 5%;
    margin-top: 5%;
}
#principal {
    display: flex;
    /*clear: both;*/
    text-align: center;
    margin: auto;
    /*justify-content: space-evenly;*/
}
.card2 {
    margin: auto;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card1{
    margin: auto;
}
.cardimg{
    border-radius: 7%;
}