<nav class="navbar navbar-expand-lg navbar-dark p-4" style="background: linear-gradient( #12507a, 85%, #ffffff);">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="../../assets/img/Refugio.jpg" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <h3 class="navbar-text me-auto">Esperanza Animal</h3>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" style="color: #7BC9FF;"  [routerLink]="['/home']"></mat-icon>
                  <!-- <a class="nav-link animate__headShake" [routerLink]="['/home']">Home</a> -->
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link animate__headShake" [routerLink]="['/registrar']">Adopta a un mascota</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link animate__headShake" [routerLink]="['/animales']">Animales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link animate__headShake" [routerLink]="['/citasregistradas']">Citas</a>
              </li>  
              <li class="nav-item">
                  <a class="nav-link animate__headShake" [routerLink]="['/about']">Nosotros</a>
              </li>

          </ul>
          <!-- <div id="bucaanimal" class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #buscarTexto (keyup.enter)="buscarUnAnimal(buscarTexto.value)">
              <button class="btn btn-outline-light" (click)="buscarUnAnimal(buscarTexto.value)" type="submit">Search</button>
        </div> -->

        <div id="buscoanimal" class="d-flex">
          <input type="text" class="form-control" placeholder="Buscar" #buscarTexto (keyup.enter)="buscarUnAnimal(buscarTexto.value)">
          <button class="btn btn-outline-secondary"  (click)="buscarUnAnimal(buscarTexto.value)"type="button">Buscar</button>
        </div>
      </div>
  </div>
</nav>

