.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
nav.navbar span.title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: white;
    font-size: large;
}

li.nav-item a.nav-link{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: white;
}
li.nav-item a:hover{
    color: #63a5c2;
}

.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: small;
}

.nav-iteam{
    font-size: smaller;
    color: white;
}.navbar-brand img {
    width: 59px; 
    margin-right: 10px; 
    border-radius: 50px;
}

.navbar-nav .nav-link {
    padding: 10px 15px; 
}

.navbar-nav .nav-link.active {
    font-weight: bold; 
}
