<div class="container">
    <h4>Acerca de los SuperHeroes</h4>
    <p>
        Los héroes de Marvel y DC forman parte de dos de las editoriales de cómics más influyentes y reconocidas a nivel mundial. Desde su inicio en la década de 1930 y 1940, respectivamente, estas compañías han creado un vasto universo de personajes que se han convertido en íconos de la cultura popular. <br><br>  

        Marvel Comics, fundada en 1939 como Timely Publications, luego se convirtió en Marvel en la década de 1960 bajo el liderazgo de Stan Lee, Jack Kirby y Steve Ditko. Sus personajes a menudo son retratados como personas comunes que adquieren poderes extraordinarios debido a circunstancias especiales 
        o accidentes. Spider-Man, los X-Men, los Vengadores y los Cuatro Fantásticos son solo algunos de los equipos y personajes más conocidos de Marvel. <br><br>

        DC Comics, por otro lado, se fundó en 1934 como National Allied Publications y luego cambió su nombre a DC en 1937. Es conocida por haber creado a algunos de los superhéroes más emblemáticos de todos los tiempos, como Superman, Batman y Wonder Woman. Los personajes de DC a menudo encarnan ideales 
        arquetípicos de heroísmo y justicia, con historias que exploran temas de identidad, moralidad y redención. <br><br>

        Ambas compañías han expandido sus universos a través de cómics, películas, series de televisión, animaciones y otros medios, generando una base de fans global y un legado duradero en la cultura popular. La rivalidad entre Marvel y DC ha sido una parte integral de la industria del cómic, pero también 
        han colaborado en crossovers y eventos especiales, demostrando que, aunque compiten, también se respetan mutuamente. <br><br>En conjunto, los héroes de Marvel 
        y DC han dejado una marca indeleble en la historia del entretenimiento y continúan inspirando a generaciones de fans en todo el mundo.
    </p>

</div>