.jumbotron {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.jumbotron h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #333333;
}
.jumbotron p {
    font-size: 1.2rem;
    color: #555555;
}
img{
  width: 50%;
  margin-left: 50%;
}
.title{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container .title{
  color: #12507a;
}
.text, .text2{
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: justify;
}
.text2{
  color: #63a5c2;
}
.matgrid{
  margin-top: 4%;
  padding: 4%;
  box-shadow: 0px 0px 20px 0px rgb(33, 155, 211);
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 0;
  padding-left: 2%;
  padding-right: 2%;
}

.frame{
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
.tab{
  width: 50rem;
  height: 50rem;
}
.cont{
  display: flex;
  justify-content: center;
  text-align: center;
}