<div class="container mt-5">
  
  <h1 class="display-4">Bienvenido al Refugio Animal</h1><br><hr>
  <div class="contenedor">
  <img src="../../../assets/img/Banner de adopciones.png" class="imagen">
  </div>

  <br>
  <h3>Con tu ayuda podremos darles un mejor lugar</h3>
  <br>
  <div class="jumbotron">
  
    <h4>Esperanza Animal</h4>
    <hr class="my-4">
    <p class="body">
      En Esperanza Animal es un espacio dedicado a la esperanza y el amor por los seres más vulnerables. 
      En ella, no solo encontrarás información sobre nuestros residentes peludos, emplumados y escamosos, 
      sino también sobre cómo puedes contribuir a su bienestar. Desde adoptar hasta donar, 
      cada acción cuenta para construir un mundo más compasivo y justo para todos los seres vivos. 
      ¡Únete a nuestra comunidad virtual y sé parte del cambio!"
    </p>
  </div>
  <br>
  <iframe
  width="560"
  height="315"
  [src]="video | domseguro: 'https://www.youtube.com/embed/' "
  frameBorder="0"
  allow="acelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>
</div>