<div class="container p-5">
<div class="jumbotron">
    <h1 class="title display-4">Bienvenido al Refugio Animal</h1>
    <h4 class="text2" >Esperanza Animal</h4>
      <!-- <img src="../../assets/img/Perrito.png" class="img-thumbnail"> -->
    <hr class="my-4">
    <p class="text">
      En Esperanza Animal es un espacio dedicado a la esperanza y el amor por los seres más vulnerables. 
      En ella, no solo encontrarás información sobre nuestros residentes peludos, emplumados y escamosos, 
      sino también sobre cómo puedes contribuir a su bienestar. Desde adoptar hasta donar, 
      cada acción cuenta para construir un mundo más compasivo y justo para todos los seres vivos. 
      ¡Únete a nuestra comunidad virtual y sé parte del cambio!"
    </p>
  </div>
</div>