<div>
<div class="container">
    <h1 class="animate_animated animate_bounce">{{animal.name}} <small>{{animal.age}}</small></h1>
    <hr>

    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{animal.image}}" alt="Animal Image" class="img-fluid">
            <br><br>
            <a href="/animales" class="btn btn-danger btn-block">Regresar</a>
            <a href="/registrar" class="btn btn-danger btn-block">Adoptar</a>
        </div>

        <div class="col-md-8">
            <h3>{{animal.name}}</h3>
            <hr>
            <p>
                {{animal.description}}
            </p>
        </div>
    </div>
</div>
</div>