<div class="cont">
    <div class="container">
        <h1 class="title1">Formulario de adopción</h1>
        <p>
            <span class="title" id="name">Nombre:</span>
            <input type="text" class="form-control" [(ngModel)]="cliente.nombre">
        </p>
        <p>
            <span class="title">ID:</span>
            <input type="text" class="form-control" [(ngModel)]="cliente.cif">
        </p>
        <p>
            <span class="title">Dirección:</span>
            <input type="text" class="form-control" [(ngModel)]="cliente.direccion">
        </p>
        <p>
            <span class="title">Fecha de cita:</span>
            <input type="date" class="form-control" [(ngModel)]="cliente.fechaCita">
        </p>
        <p>
            <span class="title">Hora de cita:</span>
            <input type="time" class="form-control" [(ngModel)]="cliente.horaCita">
        </p>
        <p>
            <button type="button" class="btn btn-primary" (click)="nuevoCliente()">Guardar</button>
        </p>
    </div>
</div>